// Import
@import url("../vendor/yui-cssreset.css")
@import url("./generic.css")

.demo
	a
		cursor: pointer
		color: blue
		display: block
		margin-bottom: 5px

		&:hover
			text-decoration: underline

	.demo-box
		width: 100%
		height: 300px
		overflow: hidden
		border: 5px ridge #EEE
		position: relative
		margin: 0
		padding: 0
		text-align: center

		.slidescrollpanel-content
			text-align: left
			border: 1px solid black
			background: #EEE

		.center-button
			margin-top: 140px